<html>
  <body>
    <p id='server-time'></p>
    <script src="/socket.io/socket.io.js"></script>
    <script src="/node_modules/angular/angular.js"></script>
    <script>
      var socket = io();
      var el = document.getElementById('server-time');

      socket.on('time', function(timeString) {
        el.innerHTML = 'Server time: ' + timeString;
      });

    </script>
   <div ng-app="">
      <p>Name : <input type="text" ng-model="name"></p>
      <h1>Hello {{name}}</h1><br>
      updated
    </div>
  </body>
</html>
